html, body{
    height: 100%;
    background-color: #e4e4e4;
}

.wrapper{
width: 100%;
}

.nav {
    vertical-align: middle;
    margin-top: 5px;
    color: #f1f6f9;
    font-size: 1.2em;
}

.content{
    padding-bottom: 100px;
}

.navbar-inverse .navbar-nav > li >a {
    color: #ffffff;
}

.navbar-inverse .navbar-nav > li >a:hover {
    color: #01b7f5;
}

.navbar-inverse{
    background-color: #272727;
    border-color: #8b8b8b;
    color: #ffffff;
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255,255,255,0.1),4px 0px 15px 0px rgba(0,0,0,0.3);
}

.navbar-inverse .navbar-brand{
    color: #ffffff;
    margin: 0 auto;
    font-width: 900;
    text-align: center;
}

.navbar-brand {
    float: left;
    height: 60px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-brand {
    height: 60px;
    width: 125px;
}

.navbar-brand img {
    height: 50px;
    width: 50px;
    margin-top: -9px;
}

.align-header-buttons {
    margin-left: 0px !important;
    float: none !important;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
    text-align: center;
}
.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 250px;
    margin-top: 5px;
}

.align-header-buttons{
    margin-left: 175px;
    float: left;
}

.dropdown-menu{
    width: 215px;
    margin-right: 35px;
}

.header-container{
    margin-bottom: 100px;
}

.event-list-container{
    padding: 2px;
}

.event-list-content{
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    float: none;
    margin: 0 auto;
    min-width: 350px;
    max-width: 600px;
}

.event-list-image-outer-container{
    padding: 5px;
}

.event-list-image-container{
    height: 125px;
    width: 100px;
}

.event-list-image{
    height: 125px;
    width: 100px;
    box-shadow: #888888 1px 1px 1px;
}

.event-detail-container{
    background-color: #ffffff;
    padding: 25px;
    box-shadow: #888888 5px 10px 20px 5px;
}

.event-detail-body-container{
    margin-top: 0px;

    box-shadow: #888888 0px 0px 20px 0px;
}

.clearfix{
    clear: both;
}

.event-grid-content{
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.event-grid-container{
    padding: 2px;
}

.event-grid-image-outer-container{
    padding: 5px;
}

.event-grid-image-container{
    height: 225px;
    width: 260px;
}

.event-grid-image{
    height: 225px;
    width: 260px;
    box-shadow: #888888 1px 1px 1px;
    border-radius: 4px;
}

.event-grid-location{
    font-weight: 600;
    padding-top: 10px;
}

.page-title{
    color: #01b7f5;
    text-align: center;
}

.main-container.ng-enter{
    -webkit-transition: 0.6s linear all;
    -moz-transition: all 0.6s linear;
    transition: 0.6s linear all;
    transition-delay: 0.2s;
    position: relative;
    z-index: 100;
    top: 100%;
    opacity: 0;
}

.main-container.ng-enter.ng-enter-active {
    top: 0;
    opacity: 1;
}

.main-container.ng-leave{
    -webkit-transition: 0.6s linear all;
    -moz-transition: all 0.6s linear;
    transition: 0.6s linear all;
    transition-delay: 0.2s;
    top: 0;
    opacity: 1;

}